BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_IDS=123456789,987654321
GRAM_WALLET=UQAu5M2VScsaoQC6RMqjai4iWqEvoAalfojAbWJwUcffFqvm
TRX_WALLET=TPFE3BacNSRygh3qfF9E2qzLGDH2GC1x49
USDT_WALLET=TPFE3BacNSRygh3qfF9E2qzLGDH2GC1x49
DB_PATH=/data/bot.db
BRAND_NAME=CR
SUPPORT_USERNAME=CYBRSupport
REFERRAL_REQUIRED_COUNT=3